<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    RewriteEngine On

    # IMPORTANTE: Indica la subcarpeta donde vive el proyecto
    RewriteBase /landings/

    # Manejar la cabecera Authorization (útil para APIs)
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Si lo que piden no es un archivo físico (imagen, css, js)...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # ...entonces mándalo todo al index.php
    # RewriteRule ^(.+)$ index.php [QSA,L]
    # RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
    RewriteRule ^ index.php [QSA,L]
</IfModule>
